<% provide(:title, 'About') %>
<div class="bg-light static-pages">
    <h1 class="center">About</h1>
    <img src="assets/book.gif" class="mx-auto my-4 d-block">
    <h4 class="mt-4" style="text-indent: 50px;">Awesome Ars Academia,
        a global tech school where you can learn "English" and "programming" provided by
        a digital creative studio with 1,500 people from 6 locations in 4 countries in Asia.
        It also provides IT education to universities in Asian countries.
    </h4>
</div>
