<% provide(:title, 'Contact us') %>
<div class="bg-light center static-pages">
    <h1>Contact us</h1>
    <img src="assets/cellphone.gif" class="mx-auto my-4 d-block">
    <h4>
        <div class="row">
            <div class="col-4 text-right">
                <i class="fa fa-hashtag"></i>&nbsp;Twitter :
            </div>
            <div class="col-8 text-left">
                <a href="https://twitter.com/AwesomeArsAcad">twitter.com/AwesomeArsAcad</a>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-right">
                <i class="fa fa-camera-retro"></i>&nbsp;Instagram :
            </div>
            <div class="col-8 text-left">
                <a href="https://www.instagram.com/awesomearsacad/">instagram.com/awesomearsacad/</a>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-right">
                <i class="fa fa-comments"></i>&nbsp;Facebook :
            </div>
            <div class="col-8 text-left">
                <a href="https://www.facebook.com/awesome.ars.academia.cebu">facebook.com/awesome.ars.academia.cebu</a>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-right">
                 <i class="fa fa-laptop-house"></i>&nbsp;Our website :
            </div>
            <div class="col-8 text-left">
                <a href="https://awesome-ars-academia.net/">awesome-ars-academia.net/</a>
            </div>
        </div>
    </h4>
</div>