<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
    <% @users.each do |user| %>
        <%# Rails is rendering the |user| inside the render %>
        <%= render user %>
    <% end %>
</ul>

<%= will_paginate %>